*{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    margin: 0 auto;
    width: 1140px;
    padding: 0 15px;
}
header{
    font-size: 14px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.banner-image img{
    width: 450px;
    box-shadow: 10px 10px #A19975;
}

.banner-content p{
    font-size: 16px;
}

.banner-content div{
    margin: 20px 0px;
}

.follow{
    font-size: 13px;
}

h1{
    font-size: 48px;
}


h2{
    font-size: 24px;color: #161d27;
}

.features .flex-container div{
    flex-basis: 50%;
    margin: 40px 0px;
}

.features img{
    width:540px;
    border-radius: 1%;
}

.container p{
    font-size: 16px;
   
}

figcaption p{
    font-size: 12px;
}

figcaption img{
    border-radius: 50%;
    width: 40px !important;
}

h3 span{
    color: #999C87;
}

.banner{
    background-color: #161D27;
    color: #fff;
}


.banner button{
    background-color: #A19975;
    color: white;
    border: 0px;
    padding:20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2%;
}

.pricing .container .flex-container div{
    box-sizing: border-box;
    background-color: #161D27;
    flex-basis: 350px;
    color: #fff;
    text-align: center;
    padding: 50px 50px 20px;
    border-radius: 1%;
    margin: 40px 0px;
   
}

.pricing .flex-container div h4{
    font-size: 15px;
}    

.pricing .flex-container div p{
    font-size: 12px;
}  

.pricing .flex-container div button{
    background-color: #A19975;
    color: white;
    border: 0px;
    padding:10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1%;
}

.price{
    font-size: 45px !important;
}

.price-m{
    margin: 10px 0px !important;
}

.buy{
    margin: 10px 0px !important;
}

section{
    padding: 100px 0px;
}

.articles{
    background-color: #EFEFEF;
   
}

.info{
    padding: 15px 0px;
}

.location{
    padding: 30px 0px;
}

.inquiry{
    background-color: #EFEFEF; 
}

.articles .flex-container div{
    flex-basis: 350px;
    border-radius: 1% ;
    background-color: #fff; 
    margin: 40px 0px;
}

.articles img{
    width: 350px;
}

.articles figcaption{
    padding: 20px;
}

.general{
    width: 40%;
}

.contact p{
    font-size: 11px;
}

.inquiry-form{
    box-sizing: border-box;
    background-color: #ffffff;
    width: 60%;
    padding: 50px;
}



a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
    padding: 5px 30px;
}

header{
    background-color: #151D28;
}

header li{
  
    font-size: 14px;
    color: #fff;
}



footer{
    padding: 80px 0px 0px;
    background-color: #161d27;
    color: #fff;
    vertical-align: top;
}

.footer-s1 div{
    flex-basis: 25%;
}

.footer-s2 div{
    flex-basis: 33.33%;
    padding: 60px 0px;
}

 i{
    margin: 0px 10px;
}



