*{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    margin: 0 auto;
    width: 1140px;
    padding: 0 15px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    background-color: #151D28;
}

header li{
  
    font-size: 14px;
    color: #fff;
}

footer{
    background-color: #161d27;
    color: #fff;
    vertical-align: top;
}



